<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.mapper.BannerMapper">
    <resultMap id="banner" type="com.zsp.entity.Banner">
        <result column="banner_id" property="bannerId"/>
        <result column="banner_path" property="bannerPath"/>
    </resultMap>
    <select id="getBannerList"  resultMap="banner">
        select * from store_banner
    </select>
</mapper>