<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.mapper.LoginMapper">
    <select id="getUserById" parameterType="Integer" resultType="com.zsp.bean.User">
        select *
        from user
        where id = #{id}
    </select>
    <insert id="insertUser" parameterType="com.zsp.bean.User">
        insert into user(name, password, email, image_path, role)
        values (#{name}, #{password}, #{email}, #{image_path}, false)
    </insert>
    <select id="getAllUser" resultType="com.zsp.bean.User">
        select *
        from store_user
    </select>
    <select id="loginByUserName" parameterType="String" resultType="com.zsp.bean.User">
        select *
        from user
        where name = #{name}
          and password = #{password}
    </select>
    <update id="updateUser" >
        update user set image_path=#{image_path} whenever id=#{id}
    </update>
</mapper>